.DS_Store
.idea
.vscode
*.log
/.vscode/*
!/.vscode/launch.json
build
config/local.*
coverage
dist
node_modules
npm-debug.log*
tmp
yarn-error.log*
*.d.ts
!cdk8s.yaml.js
!jest.config.js
node_modules
schema.graphql